<%- include('../partials/header') -%>

<%- include('../partials/navigation') -%>

<div class="addTransaction" id="addTransactionMain"> <p> All Transactions </p>

			<table style="width:95%; font-size: large; border: solid; border-color:var(--caribbean-current); text-align: center;">
				<tr>
					<th> Date</th>
					<th> Description </th>
					<th> Amount</th>
					<th> Type</th>
					<th> Category </th>
					<th> Account Name </th>
					<th> Notes </th>
					<th> Edit </th>
				</tr>
				<% for (entry of allTransactions) { %>
				<tr style="border: 1px solid black;">
					<td>
						<% if (entry.date) { %>
						  <%= entry.date.toLocaleDateString('en-US', {
							  timeZone: 'Etc/GMT'}) %>
						<% } %>
					</td>  
					<td> <%= entry.description %> </td>
					<td> <%= entry.amount %> </td>
					<td> <%= entry.transaction_type %> </td>
					<td> <%= entry.category %> </td>
					<td> <%= entry.account_name %> </td>
					<td> <%= entry.notes %> </td>
					<td><a href="/user/editTransaction/<%= entry._id %>">Edit</a></td>
				</tr>
				<% } %>
			</table> <br>
</div>

<%- include('../partials/footer') -%>